node_modules/
dist/
.vite/

*.log
npm-debug.log*

.env
.env.local
.env.*.local

# TypeScript build artifacts
*.tsbuildinfo
.tsbuild/
tailwind.config.d.ts
tailwind.config.js
vite.config.d.ts
vite.config.js

coverage/
.DS_Store
